<br>
<h3>Preguntas:</h3>
<ol>
    <li>¿Por qué es una buena práctica separar el controlador de la vista?</li>
    <ul>
        <li>
            Porque se hace fuerte la página ante ataques, porque el php y el script no son accesibles para los usuarios y el html sí.
        </li>
    </ul>
    <li>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</li>
    <ul>
        <li>$_REQUEST: Contiene el contenido de los métodos get, post y cookie</li>
        <li>$_GLOBALS: Da una referencia de todas las variables globales</li>
        <li>$_COOKIES: Variables pasadas al script</li>
        <li>$_FILES: Archivos anteriormente subidos por el metodo Post</li>
        <li>$_SERVER: Información del servidor en el que se encuentra la gágina</li>
        <li>$_ENV: Variables pasadas al script mediante el método del entorno</li>
    </ul>
    <li>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</li>
    <ul>
        <li>password_hash: encripta contraseñas.</li>
        <li>error_reporting: muestra los errores en la fase de desarrollo.</li>
    </ul>
    <li>¿Qué es XSS y cómo se puede prevenir?</li>
    <ul>
        <li>
            Es un tipo de ataque donde el hacker inyecta codigo malicioso del lado del cliente en el output de la pagina. Las aplicaciones que no escapen de su output son vulnerables a este tipo de ataques. Se puede prevenir mediante la implementacion de htmlspecialchars() ó htmlentities() en el output.
        </li>
    </ul>
</ol>
<br><br><br>
<p>Capítulo 3. Cross Site Scripting. 
Ramos Varón, Antonio, et al (2015). Hacking y seguridad de páginas web. Ra-Ma. Bogotá, Colombia. 
Disponible en biblioteca.</p>